.wp-block-post-title {
	max-width: clamp(80%, 90vh, 100%);
}

.has-eyebrow-font-size {
	font-family: $gilmer-heavy;
	line-height: map-get( $line-height-map, eyebrow );
}

ul.has-eyebrow-font-size {
	line-height: 1.25em;

	li {
		+ li {
			margin-top: .375rem;
		}
	}
}

.has-large-font-size {
	line-height: map-get( $line-height-map, plarge );
}
