* text=auto

.gitattributes export-ignore
.gitignore export-ignore
/.github export-ignore
.stylelintrc.json export-ignore
phpcs.xml export-ignore
composer.lock export-ignore
/.wordpress-org export-ignore
