/* Default
---------------------------------------------------------------------------- */

html {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

ol,
ul {
	padding: 0;
}

.block-editor-rich-text__editable a {
	text-decoration-thickness: 1px;
}

b,
strong {
	font-weight: var(--wp--custom--font-weight--medium);
}

img {
	height: auto;
	max-width: 100%;
	vertical-align: top;
}

/* Buttons
---------------------------------------------------------------------------- */

.is-style-fill .wp-block-button__link,
.wp-block-button__link,
.wp-block-search__button {
	border: 1px solid var(--wp--preset--color--black);
	cursor: pointer;
	font-family: var(--wp--custom--font-family--primary);
	font-weight: var(--wp--custom--font-weight--medium);
	height: auto;
	text-align: center;
	text-decoration: none;
	white-space: normal;
	width: auto;
}

.wp-block-button__link:focus,
.wp-block-button__link:hover,
.wp-block-search__button:focus,
.wp-block-search__button:hover  {
	background-color: transparent;
	color: var(--wp--preset--color--black);
}

.is-style-fill-white .wp-block-button__link {
	background-color: var(--wp--preset--color--white);
	border: 1px solid var(--wp--preset--color--white);
	color: var(--wp--preset--color--black);
}

.is-style-fill-white .wp-block-button__link:focus,
.is-style-fill-white .wp-block-button__link:hover {
	background-color: transparent;
	border: 1px solid var(--wp--preset--color--white);
	color: var(--wp--preset--color--white);
}

.wp-block-button__link.has-background:focus,
.wp-block-button__link.has-background:hover {
	color: var(--wp--preset--color--white);
	filter: brightness(110%);
}

/* Buttons - Outline
--------------------------------------------- */

.is-style-outline .wp-block-button__link {
	background-color: transparent;
	border: 1px solid;
	border-color: currentColor;
	color: var(--wp--preset--color--black);
}

.is-style-outline .wp-block-button__link:focus,
.is-style-outline .wp-block-button__link:hover {
	background-color: var(--wp--preset--color--black);
	border-color: var(--wp--preset--color--black);
	color: var(--wp--preset--color--white);
}

/* Buttons - Outline White
--------------------------------------------- */

.is-style-outline-white .wp-block-button__link {
	background-color: transparent;
	border: 1px solid;
	border-color: var(--wp--preset--color--white);
	color: var(--wp--preset--color--white);
}

.is-style-outline-white .wp-block-button__link:focus,
.is-style-outline-white .wp-block-button__link:hover {
	background-color: var(--wp--preset--color--white);
	color: var(--wp--preset--color--black);
}

/* Calendar
--------------------------------------------- */

.wp-block-calendar table caption,
.wp-block-calendar table tbody {
	color: var(--wp--preset--color--black);
}

.wp-block-calendar table th {
	background-color: var(--wp--preset--color--black);
	color: var(--wp--preset--color--white);
}

.wp-block-calendar tbody td,
.wp-block-calendar th {
	border: 1px solid var(--wp--preset--color--black);
	padding: 10px;
}

/* Caption
---------------------------------------------------------------------------- */

.wp-block-embed figcaption,
.wp-block-gallery figcaption,
.wp-block-image figcaption,
.wp-block-pullquote figcaption,
.wp-block-quote figcaption,
.wp-block-table figcaption {
	color: var(--wp--preset--color--black);
	font-size: var(--wp--preset--font-size--small);
	margin-bottom: 0;
	margin-top: 10px;
	text-align: center;
}

.wp-block-gallery figcaption {
	margin-top: 0;
}

/* Code
---------------------------------------------------------------------------- */

.wp-block-code {
	border: none;
	padding: 0;
}

.wp-block-code code {
	overflow-wrap: normal;
	overflow-x: scroll;
	white-space: pre !important;
}

*:not(.wp-block-code) > code {
	background-color: var(--wp--preset--color--black);
	color: var(--wp--preset--color--white);
	font-size: var(--wp--preset--font-size--small);
	padding: 5px 8px;
	position: relative;
	top: -1px;
}

/* Columns
---------------------------------------------------------------------------- */

.block-editor-block-list__block.wp-block-column.wp-block-column {
    margin-bottom: 30px;
}

/* Groups
---------------------------------------------------------------------------- */

.wp-block-group:where(.has-background) {
	padding: 0;
}

/* Has Background
---------------------------------------------------------------------------- */

h1.has-background,
h2.has-background,
h3.has-background,
h4.has-background,
h5.has-background,
h6.has-background,
p.has-background {
	padding: 20px 30px;
}

/* Navigation
--------------------------------------------- */

.wp-block-navigation .wp-block-navigation-item.is-style-fill a,
.wp-block-navigation .wp-block-navigation-item.is-style-outline a {
	border: 1px solid var(--wp--preset--color--black);
	padding: 5px 15px;
}

.wp-block-navigation .wp-block-navigation-item.is-style-fill,
.wp-block-navigation .wp-block-navigation-item.is-style-outline a:focus,
.wp-block-navigation .wp-block-navigation-item.is-style-outline a:hover {
	background-color: var(--wp--preset--color--black);
	color: var(--wp--preset--color--white);
}

.wp-block-navigation .wp-block-navigation-item.is-style-outline a,
.wp-block-navigation .wp-block-navigation-item.is-style-fill a:focus,
.wp-block-navigation .wp-block-navigation-item.is-style-fill a:hover {
	background-color: var(--wp--preset--color--white);
	color: var(--wp--preset--color--black);
}

/* Preformatted
--------------------------------------------- */

.wp-block-preformatted {
	overflow-wrap: normal;
	overflow-x: scroll;
	white-space: pre !important;
}

/* Pricing Table
---------------------------------------------------------------------------- */

.pricing-table {
	text-align: center;
}

.pricing-table > li {
	border-bottom: 1px solid var(--wp--preset--color--gray);
	list-style-type: none;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

/* Pullquote
---------------------------------------------------------------------------- */

.wp-block-pullquote .has-text-color .wp-block-pullquote__citation,
.wp-block-pullquote .has-text-color p {
	color: currentColor;
}

.wp-block[data-align=left] .wp-block-pullquote,
.wp-block[data-align=right] .wp-block-pullquote {
	max-width: 300px;
}

.wp-block[data-align=left] .wp-block-pullquote {
	margin-left: -100px;
	margin-right: 30px;
}

.wp-block[data-align=right] .wp-block-pullquote {
	margin-left: 30px;
	margin-right: -100px;
}

.wp-block-pullquote p,
.wp-block-pullquote.is-style-solid-color blockquote p,
.wp-block[data-align=left]>.wp-block-pullquote p,
.wp-block[data-align=right]>.wp-block-pullquote p,
.wp-block-pullquote .wp-block-pullquote__citation {
	text-align: center;
}

.wp-block-pullquote p,
.wp-block-pullquote.is-style-solid-color blockquote p,
.wp-block[data-align=left]>.wp-block-pullquote p,
.wp-block[data-align=right]>.wp-block-pullquote p {
	font-size: var(--wp--preset--font-size--large);
	font-style: normal;
	line-height: var(--wp--custom--line-height--smaller);
	margin-bottom: 10px;
}

.wp-block-pullquote.is-style-solid-color blockquote {
	max-width: 100%;
}

.wp-block-pullquote .wp-block-pullquote__citation {
	color: var(--wp--preset--color--black);
	display: block;
	font-size: var(--wp--preset--font-size--small);
	font-style: inherit;
	text-transform: none;
}

/* Quote
---------------------------------------------------------------------------- */

.wp-block-quote {
	box-shadow: 5px 5px var(--wp--preset--color--black);
}

.wp-block-quote.has-text-align-center,
.wp-block-quote.has-text-align-left,
.wp-block-quote.has-text-align-right,
.wp-block-quote.is-style-large {
	border: 1px solid var(--wp--preset--color--black);
	margin-bottom: 35px;
	padding: 30px 40px;
}

.wp-block-quote p:last-of-type {
	margin-bottom: 0;
}

.wp-block-quote cite,
.wp-block-quote.is-style-large p,
.wp-block-quote.is-style-large cite {
	font-style: inherit;
}

.wp-block-quote.is-style-large p {
	font-size: var(--wp--preset--font-size--x-large);
	line-height: var(--wp--custom--line-height--medium);
}

.wp-block-quote cite,
.wp-block-quote.is-style-large cite {
	display: block;
	font-size: var(--wp--preset--font-size--small);
	margin-top: 10px;
	text-align: inherit;
}

/* Separator
---------------------------------------------------------------------------- */

.wp-block-separator,
.wp-block-separator.has-background,
.wp-block-separator.is-style-dots {
	border: none;
}

.wp-block-separator {
	border-top: 1px solid var(--wp--preset--color--black);
	opacity: 1;
}

.wp-block-separator.has-background {
	height: 1px;
}

.wp-block-separator.is-style-dots:before {
	font-family: inherit;
	font-size: var(--wp--preset--font-size--medium);
	letter-spacing: 10px;
	padding-left: 10px;
}

/* Table
---------------------------------------------------------------------------- */

.wp-block-table.is-style-stripes {
	border-bottom: none;
}

.wp-block-table table {
	border-collapse: collapse;
}

.wp-block-table thead {
	border-bottom: 3px solid var(--wp--preset--color--black);
}

.wp-block-table tfoot {
	border-top: 3px solid var(--wp--preset--color--black);
}

.wp-block-table td,
.wp-block-table th,
.wp-block-table tr,
.wp-block-table.is-style-stripes td,
.wp-block-table.is-style-stripes th,
.wp-block-table.is-style-stripes tr {
	border: 1px solid var(--wp--preset--color--black);
}

.wp-block-table th {
	font-weight: var(--wp--custom--font-weight--medium);
}

.wp-block-table td,
.wp-block-table th {
	padding: 5px;
}

.wp-block-table.is-style-stripes tbody tr:nth-child(odd) {
	background-color: var(--wp--preset--color--gray);
}

/* Magic Classes
---------------------------------------------------------------------------- */

.has-no-bottom-margin {
	margin-bottom: 0 !important;
}

/* Block Styles
---------------------------------------------------------------------------- */

.is-style-boxshadow {
	box-shadow: 0 0 50px rgb(0 0 0 / 10%);
}

.is-style-no-margin {
	margin: 0;
}
