<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header","layout":{"inherit":true}} /-->
<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"80px","right":"40px","bottom":"80px","left":"40px"}}},"layout":{"inherit":true}} -->
<main class="site-content wp-block-group" style="padding-top:80px;padding-right:40px;padding-bottom:80px;padding-left:40px">
	<!-- wp:query -->
	<div class="wp-block-query">
		<!-- wp:pattern {"slug":"frost/hidden/hidden-404"} /-->
	</div>
	<!-- /wp:query -->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer","layout":{"inherit":true}} /-->
