<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header","layout":{"inherit":true}} /-->
<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"right":"40px","left":"40px"}}},"layout":{"inherit":true}} -->
<main class="site-content wp-block-group" style="padding-right:40px;padding-left:40px">
	<!-- wp:query -->
	<div class="wp-block-query">
		<!-- wp:post-content /-->
	</div>
	<!-- /wp:query -->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer","layout":{"inherit":true}} /-->
