/**
 * 01. Fonts
 * 02. Colors
 */


// 01. Fonts

$gilmer-light: Gilmer-Light, sans-serif;
$gilmer-regular: Gilmer-Regular, sans-serif;
$gilmer-medium: Gilmer-Medium, sans-serif;
$gilmer-bold: Gilmer-Bold, sans-serif;
$gilmer-heavy: Gilmer-Heavy, sans-serif;
$gilmer-outline: Gilmer-Outline, sans-serif;

$font-weight-map: (
	'light': $gilmer-light,
	'regular': $gilmer-regular,
	'medium': $gilmer-medium,
	'bold': $gilmer-bold,
	'heavy': $gilmer-heavy
);

$heading-size-map: (
	h1: clamp(50px, 8vw, 90px),
	h2: clamp(36px, 7vw, 48px),
	h3: clamp(30px, 6vw, 40px),
	h4: clamp(24px, 5vw, 32px),
	h5: clamp(20px, 4vw, 24px),
	h6: 16px
);

$line-height-map: (
	h1: 1.125em,
	h2: 1.2em,
	h3: 1.2em,
	h4: 1.3125em,
	h5: 1.4em,
	h6: 1.375em,
	psmall: 18px,
	plarge: 28px,
	p: 24px,
	a: 28px,
	eyebrow: 16px,
	cta: 28px
);


// 02. Colors

$blue: #3fc1d0;
$magenta: #e5336a;
$green: #8fca52;
$violet: #7d58c6;
$light-violet: #f6f2ff;
$dark-blue: #3aa1ce;
$black: #001e1e;
$black-50: rgba(3, 30, 30, .5);
$black-25: rgba(3, 30, 30, .25);
$light-gray: #fafafa;
$white: #fff;
$white-75: rgba($white, .75);
$white-50: rgba($white, .5);
