<!-- wp:template-part {"slug":"header","theme":"ash","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","verticalAlignment":"top"}} -->
<div class="wp-block-group"><!-- wp:cover {"overlayColor":"tertiary","minHeight":100,"minHeightUnit":"vh","contentPosition":"top left","isDark":false} -->
	<div class="wp-block-cover is-light has-custom-content-position is-position-top-left" style="min-height:100vh"><span aria-hidden="true" class="wp-block-cover__background has-tertiary-background-color has-background-dim-100 has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:navigation {"ref":9814,"textColor":"base","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"left"},"style":{"spacing":{"blockGap":"150px"}},"fontSize":"small"} /--></div></div>
	<!-- /wp:cover -->

	<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0"},"padding":{"bottom":"80px"}}},"className":"site-content is-style-default"} -->
	<main class="wp-block-group site-content is-style-default" style="margin-top:0;padding-bottom:80px"><!-- wp:post-content {"layout":{"inherit":true}} /--></main>
	<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"ash","tagName":"footer","className":"site-footer"} /-->