<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->
<!-- wp:group {"tagName":"main","layout":{"type":"constrained"},"style":{"spacing":{"margin":{"top":"0"},"padding":{"top":"40px","bottom":"40px"}}},"className":"site-content"} -->
<main class="wp-block-group site-content" style="margin-top:0;padding-top:40px;padding-bottom:40px">
	<!-- wp:group {"style":{"spacing":{"margin":{"bottom":"60px"}}}} -->
	<div class="wp-block-group" style="margin-bottom:60px">
		<!-- wp:query-title {"type":"search","fontSize":"large"} /-->
	</div>
	<!-- /wp:group -->
	<!-- wp:pattern {"slug":"frost/query-default"} /-->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->