<!-- wp:template-part {"slug":"header","theme":"ash","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0"},"padding":{"top":"40px","bottom":"80px"}}},"className":"site-content","layout":{"type":"flex","flexWrap":"nowrap","verticalAlignment":"top"}} -->
<main class="wp-block-group site-content" style="margin-top:0;padding-top:40px;padding-bottom:80px"><!-- wp:page-list /-->

	<!-- wp:group {"layout":{"type":"default"}} -->
	<div class="wp-block-group"><!-- wp:post-title {"level":1} /-->

		<!-- wp:post-content {"layout":{"inherit":true}} /--></div>
	<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"ash","tagName":"footer","className":"site-footer"} /-->