<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->
<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0"},"padding":{"bottom":"80px"}}},"className":"site-content"} -->
<main class="wp-block-group site-content" style="margin-top:0;padding-bottom:80px">
	<!-- wp:cover {"useFeaturedImage":true,"dimRatio":80,"minHeight":480,"isDark":false,"align":"full"} -->
	<div class="wp-block-cover alignfull is-light" style="min-height:480px"><span aria-hidden="true" class="wp-block-cover__background has-background-dim-80 has-background-dim"></span><div class="wp-block-cover__inner-container">
		<!-- wp:group {"style":{"elements":{"link":{"color":{"text":"var:preset|color|base"}}},"spacing":{"blockGap":"10px"}},"textColor":"base","layout":{"wideSize":"800px"}} -->
		<div class="wp-block-group has-base-color has-text-color has-link-color">
			<!-- wp:group {"style":{"spacing":{"blockGap":"10px"}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"center"},"fontSize":"small"} -->
			<div class="wp-block-group has-small-font-size">
				<!-- wp:post-date /-->
				<!-- wp:paragraph -->
				<p>•</p>
				<!-- /wp:paragraph -->
				<!-- wp:post-author-name /-->
				<!-- wp:paragraph -->
				<p>•</p>
				<!-- /wp:paragraph -->
				<!-- wp:post-terms {"term":"category"} /-->
			</div>
			<!-- /wp:group -->
			<!-- wp:post-title {"textAlign":"center","level":1,"style":{"typography":{"fontStyle":"normal","fontWeight":"400"}},"fontSize":"max-60"} /-->
		</div>
		<!-- /wp:group -->
	</div></div>
	<!-- /wp:cover -->
	<!-- wp:spacer {"height":60} -->
	<div style="height:60px" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->
	<!-- wp:post-content {"layout":{"inherit":true}} /-->
	<!-- wp:group {"layout":{"inherit":true}} -->
	<div class="wp-block-group">
		<!-- wp:post-comments /-->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->